//- jade file is rendered in to html,
//- whitespace significant, use spaces ONLY or TABs ONLY but not both
//- indent level indicates html nesting level

doctype html
html
  head
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    // bootstrap navigation items
    .navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href='/') Locator
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                #navbar-main.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/about/') About
                    

    //- controller/<>.js files with options are rendered into content
    .container
        block content

        footer
            .row
                .col-xs-12
                    small &copy; bugs bunny 2016

    script(src='/javascripts/jquery-3.1.1.js')
    script(src='/bootstrap/js/bootstrap.min.js')
